<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layouts/master}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" layout:fragment="content">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Category
        </h1>
        <ol class="breadcrumb">
            <div class="right float">
                <button type="button" class="btn btn-primary btn-block btn-addNew"><i class="fa fa-plus-square"></i> Add New</button>
            </div>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">List all category</h3>

                <div class="box-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input th:value="${#httpServletRequest.getParameter('name')}" type="text" id="table_search" name="table_search" class="form-control pull-right" placeholder="Search">

                        <div class="input-group-btn">
                            <button type="submit" id="btn-search-category" class="btn btn-default"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <tbody><tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Status</th>
                        <th>Created Date</th>
                        <th>Actions</th>
                    </tr>
                    <tr th:each="category : ${categoryList}" th:object="${category}">
                        <td th:text="*{id}"></td>
                        <td th:text="*{name}"></td>
                        <td>
                            <th:block th:if="*{status}">
                                <span class="label label-success" th:text="*{status}"></span>
                            </th:block>
                            <th:block th:unless="*{status}">
                                <span class="label label-danger" th:text="*{status}"></span>
                            </th:block>
                        </td>
                        <td th:text="*{#dates.format(createdAt, 'yyyy-MM-dd: hh:mm s a')}"></td>
                        <td>
                            <button th:attr="data-id=*{id}" type="button" class="btn btn-primary btn-xs btn-update">
                                <i class="fa fa-edit"></i>
                            </button>
                            <button th:attr="data-id=*{id}" type="button" class="btn-delete-category btn btn-danger btn-xs">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody></table>
            </div>
            <!-- /.box-body -->
            <!--box footer-->
            <div class="box-footer clearfix">
                <ul class="pagination pagination-sm no-margin pull-right">
                    <li th:classappend="${paginate.page==1 ? 'disabled':''} "><a th:href="@{/admin/categories/all/paginate(page=1, name=${filter})}">First</a></li>
                    <li th:classappend="${paginate.page==1 ? 'disabled':''} "><a th:href="@{/admin/categories/all/paginate(page=${paginate.previousPage}, name=${filter})}">«</a></li>

                    <li th:classappend="${paginate.page==i} ? 'active':''" th:each="i:${#numbers.sequence(paginate.startPage, paginate.endPage)}">
                        <a th:text="${i}" th:href="@{/admin/categories/all/paginate(page=${i}, name=${filter})}">1</a>
                    </li>

                    <li th:classappend="${paginate.page == paginate.totalPages ? 'disabled':''} "><a th:href="@{/admin/categories/all/paginate(page=${paginate.nextPage}, name=${filter})}">»</a></li>
                    <li th:classappend="${paginate.page == paginate.totalPages ? 'disabled':''} "><a th:href="@{/admin/categories/all/paginate(page=${paginate.totalPages}, name=${filter})}">Last</a></li>
                </ul>
            </div>
            <!--/.box footer-->
        </div>

    </section>
    <!-- /.content -->
    <!--start modal update-->
    <div class="modal fade in" id="modal-update">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Update Category</h4>
                </div>
                <div class="modal-body">
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <!--<h3 class="box-title">Horizontal Form</h3>-->
                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->
                        <form class="form-horizontal">
                            <div class="box-body">
                                <input type="hidden" id="category-id">
                                <div class="form-group">
                                    <label for="category-name" class="col-sm-2 control-label">Name</label>

                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="category-name" placeholder="Name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Status</label>
                                    <div class="col-sm-10 radio">
                                        <label>
                                            <input type="radio" name="optionsRadios" id="status-true" value="true">
                                            True
                                        </label>
                                        &nbsp
                                        <label>
                                            <input type="radio" name="optionsRadios" id="status-false" value="false">
                                            False
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-body -->
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary btn-submit-update">Save changes</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!--end modal update-->
    <!--start modal add new-->
    <div class="modal fade in" id="modal-add">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Add New Category</h4>
                </div>
                <div class="modal-body">
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <!--<h3 class="box-title">Horizontal Form</h3>-->
                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->
                        <form class="form-horizontal">
                            <div class="box-body">
                                <div class="form-group">
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="add-category-name" placeholder="Category Name">
                                    </div>
                                </div>

                            </div>
                            <!-- /.box-body -->
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left btn-cancel" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary btn-submit">Save</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!--end modal add new-->
</div>
<!-- /.content-wrapper -->

<script layout:fragment="script">
    $(document).ready(function () {
        //seach jquery
        $('#btn-search-category').on('click', function () {
            var text_to_search = $('#table_search').val();
            if(text_to_search ==''){
                window.location = '/admin/categories/all/paginate';
            }else {
                window.location = '/admin/categories/all/paginate?name=' + text_to_search;
            }
        });
        //get id once click on btn-update
        var data_id ='';
        $('.btn-update').on('click', function () {
           data_id =$(this).attr('data-id');
           // $('.modal').modal('show');
            $('#modal-update').modal('show');
        });

        //ajax pass value from table list to modal form
        $('#modal-update').on('show.bs.modal', function () {
            $.ajax({
                url:'/api/v1/categories/' + data_id,
                method:'GET',
                contentType:'application/json',
                success: function (response) {
                    //console.log(response);
                    $('#category-id').val(response.data.id);
                    $('#category-name').val(response.data.name);
                    if (response.data.status == false){
                        $('#status-false').attr('checked', 'checked');
                    }else{
                        $('#status-true').attr('checked', 'checked');
                    }
                },
                error: function (response) {
                    console.log(response)
                }
            });
        });
        //ajax update record
        $('body').on('click', '.btn-submit-update', function () {
            var status = $("input[name='optionsRadios']:checked").val();
            var data = {
                id: $('#category-id').val(),
                name:$('#category-name').val(),
                status:status
            };

            $.ajax({
                url:'/api/v1/categories/',
                method:'PUT',
                contentType:'application/json',
                data: JSON.stringify(data),
                success: function (response) {
                    $('.modal').modal('hide');
                    window.location.reload();
                    console.log(response);
                    $('#category-id').val(response.data.id);
                    $('#category-name').val(response.data.name);
                    if (response.data.status == false){
                        $('#status-false').attr('checked', 'checked');
                    }else{
                        $('#status-true').attr('checked', 'checked');
                    }
                },
                error: function (response) {
                    console.log(response)
                }
            });
        });

        //ajax delete
        $('.btn-delete-category').on('click', function () {
            data_id = $('.btn-delete-category').attr('data-id');
            if(confirm("Are sure you want to delte?")){
                $.ajax({
                    url:'/api/v1/categories/' + data_id,
                    method:'DELETE',
                    contentType:'application/json',
                    success: function (response) {
                        window.location.reload();
                        console.log(response);

                    },
                    error: function (response) {
                        console.log(response)
                    }
                });
            }

        });

        //ajax add new
        $('.btn-addNew').on('click', function () {
            $('#modal-add').modal('show');
        });

        $('.btn-submit').on('click', function (event) {
            event.preventDefault();

            var name = $('#add-category-name').val();

            var category = {
                "name": name
            }
            $.ajax({
                url:'/api/v1/categories/',
                type: 'post',
                data: JSON.stringify(category),
                contentType:'application/json',
                success:function (response) {
                    console.log(response);
                    window.location.reload();
                },
                error:function (error) {
                    console.log(error)
                }

            });

        });



    });
</script>
</body>
</html>